* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*menu start*/
/*.logo {*/
    /*list-style:none;*/
    /*position: absolute;*/
    /*background-color: rgba(000, 000, 000, 0);*/
    /*z-index: 25;*/
/*}*/

/*.logo li{*/
    /*border-top-right-radius:20px;*/
    /*border-bottom-right-radius: 20px;*/
    /*float:left;*/
    /*margin-top:37px;*/
    /*width:400px;*/
    /*height:80px;*/
    /*position: relative;*/
    /*background-color: rgba(000, 000, 000, 0.5);*/
/*}*/

/*.li-img {*/
    /*background-color: rgba(000, 000, 000, 0);*/
    /*position: fixed;*/
/*}*/

/*.logo img {*/
    /*float: right;*/
    /*width: 351px;*/
    /*height: 41px;*/
/*}*/

#menuContainer {
    list-style:none;
    width:799px;
    height:180px;
    position:absolute;
    right:0;
    top:0;
    background-color: rgba(000, 000, 000, 0);
    z-index: 20;
}

#menu {
    list-style:none;
    width:799px;
    height:180px;
    background-color: rgba(000, 000, 000, 0);
    position: fixed;
}

#menu li {
    float:left;
    margin-top:50px;
    width:114px;
    height:50px;
    position: relative;
    background-color: rgba(000, 000, 000, 0.2);
}

#menu li.first {
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(000, 000, 000, 0.7);
}

#menu li#login {
    background-color: rgba(000, 000, 000, 0.5);
}

#menu li.first a {
    color: #33CCFF;
    font-size: 18px;
}

#menu li#none {
    border-right: 1px solid #FFF;
}

#menu li a {
    display:block;
    width:113px;
    height:50px;
    text-decoration:none;
    color: #FFF;
    font-family:verdana, sans-serif; font-size:15px;
}

#menu li a b {
    display:block;
    width:113px;
    height:50px;
    line-height:48px;
    text-transform:lowercase;
    text-align:center;
}

#menu li.first a:hover {
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(000, 000, 000, 0.7);
}

#menu li#none a:hover {
    background-color: rgba(000, 000, 000, 0);
}

#menu li a:hover {
    background-color: rgba(000, 000, 000, 0.3);
}

#menu li a:active {
    color: #33CCFF;
}
/*menu end*/

/*model start*/
#loginmodal {
    background: #222;
    background: -webkit-linear-gradient(top left, #222 0%, #5a5a5a 100%);
    background: linear-gradient(to bottom right, #222 0%, #5a5a5a 100%);
    opacity: 0.8;
    position: absolute;
    width: 350px;
    height: 400px;
    padding: 15px 20px;
    overflow: hidden;
    z-index: 10;
}

#loginmodal.form-success .container h1 {
    -webkit-transform: translateY(85px);
    -ms-transform: translateY(85px);
    transform: translateY(85px);
}

.login-container {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.login-container h1{
    color: #33CCFF;
}

.login-container h1.h3 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-weight: 200;
}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

form {
    padding: 20px 0;
    position: relative;
}

form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color:  #33CCFF;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}

form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
    background-color: #FFF;
    width: 300px;
    color: #5A5A5A;
}

label input {
    width: 12px;
    font-size: 12px;
}

label  input:focus {
    width: 12px;
}

.login-links {
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;
}

.login-links a{
    color: #33CCFF;
    text-decoration: none;
    margin: 10px;
}

.login-links a:hover{
    color: #FFF;
    text-decoration: underline;
}

form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #33CCFF;
    border: 0;
    padding: 10px 15px;
    color: #FFF;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

form button:hover {
    background-color: #ccc;
    color: #33CCFF;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
/*model end*/

/*carousel start*/
.carousel {
    height: 500px;
    background-color: #5A5A5A;
}

.carousel .item {
    height: 500px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    padding-top: 250px;
    padding-bottom: 30px;
    text-align: center;
}

.carousel-caption p,h1 {
    margin-bottom: 20px;
    line-height: 1.4;
    color: #cccccc;
}

p{
    margin: 0 0 10px;
    font-size: 21px;
}

.carousel-caption button {
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #33CCFF;
}

.carousel-caption a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}

.carousel-foot {
    width: 100%;
    height: 50px;
    background-color: #33CCFF;
    box-shadow: 0 4px 6px;
    text-align: center;
    margin-bottom: 60px;
}

.carousel-foot p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}
/*carousel end*/

#back-to-top {
    width: 60px;
    height: 60px;
    margin-top: -40px;
    margin-left: 1270px;
    position: fixed;
}

#back-to-top img {
    width: 55px;
    height: 60px;
    padding: 5px;
}

/*marketing start*/
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
}

.img-circle {
    width: 140px;
    height: 140px;
}

.row h2 {
    color: #33CCFF;
}

.row p {
    color: #5a5a5a;
}

.col-lg-4 {
    width: 33.3333%;
}

.img-left {
    width: 400px;
    height: 300px;
    float: left;
}
/*marketing end*/

/*featurette start*/
.lead {
    color: #5a5a5a;
}

.img-right {
    width:400px;
    height: 300px;
    float: right;
}

/*footer start*/
.footer {
    background-color: #5a5a5a;
    width: 100%;
    height: 80px;
}



